@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2F3136;
}

::-webkit-scrollbar-thumb {
  background: #7289DA;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #677BC4;
}